@import "tailwindcss";

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }

  .slide-in-from-top {
    animation-name: slideInFromTop;
  }

  .slide-in-from-bot {
    animation-name: slideInFromBot;
  }
  .duration-300 {
    animation-delay: 300ms;
  }

  .duration-700 {
    animation-delay: 700ms;
  }

  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: rgb(185, 100, 25) rgb(234, 207, 179);
    border-radius: 5px;
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: rgb(185, 100, 25);
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgb(234, 207, 179);
    border-radius: 5px;
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBot {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(1rem);
  }
}
